<div>
  <h3>Shopping Cart</h3>

  <p>You may remove items from your cart and checkout here. Or, <a href="" ng-click="state.section='shop'">return to the store</a>.

  <table class="table">
    <thead>
    <tr>
      <td>Type</td>
      <td>Item</td>
      <td>Price</td>
      <td>Quantity</td>
      <td>Total</td>
      <td></td>
    </tr>
    </thead>
    <tbody ng-repeat="item in getItems() as resultSet" item></tbody>
    <tfoot>
    <tr ng-if="resultSet.length">
      <td colspan="4"></td>
      <td>{{getTotalCartPrice() | currency:'$'}}</td>
      <td><button class="btn btn-sm btn-primary" ng-click="state.section='checkout'">Checkout</button>
    </tr>
    <tr ng-if="!resultSet.length">
      <td class="text-center" colspan="6">
        No items in your cart! <a href="" ng-click="state.section='shop'">Add some now</a>.
      </td>
    </tr>
    </tfoot>
  </table>
</div>
